html {
    height: 100%;
    width: 100%;
    font-family: 'Sanchez', serif;
    font-size: 15px;
    background-image: url(https://images.unsplash.com/photo-1447439572175-6d20ade8f512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}

body{
    margin: 35px;
    background-image: url(https://img.freepik.com/free-photo/paperboard-texture_95678-72.jpg?size=626&ext=jpg);
    padding: 10px 35px;
    border: 1px solid black;
    height: 86%;
    width: 90%;
    justify-content: center;
}

#linha1 {
    text-align: center;
}

#mensagem{
    width:250px;
}

#deslocamento{
    width:250px;
}

#cifrar{
  justify-content: flex-start;
  left: 37%;
  top: 29%;
  width: 220px;
  height: 170px;
}

fieldset{
    display: flex;
    width:300px;
    height:250px;
    display: flex;
    flex-direction: row;
}

textarea{
    resize: none;
    width: 280px;
    height: 450 px;
}

.container{
    display: flex;
    justify-content: center;
}

#encodeButton{
    background-color: white; 
    font-size: 15px;
    border: 1px solid #848484;
    font-family: 'Sanchez', serif;
}

#decodeButton{
    background-color: white;
    font-size: 15px;
    border: 1px solid #848484;
    font-family: 'Sanchez', serif;
}

@media (max-width: 1000px){

}